body{
    background-color: black;
    color: white;
}
h1 span{
    margin-top: 30px;
    margin-left: 500px;
    font-family: fantasy;
    font-size: 50px;
    letter-spacing: 4px;
    text-shadow: 3px 2px green;
    background-color: green;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
h2 span{
    color: green;
}
h2 span:hover{
    background-color: green;
    color: white;
    border-radius: 8px;
    transition: 1S linear;
}
.left-div{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-transform: uppercase;
     border: 3px black double;
     border-radius: 20px;
     margin-left: 60px;
     margin-right: 700px;
     padding: 20px;
     line-height: 1.5;
     box-sizing: border-box;
     box-shadow: 5px 5px 40px green;
     width: 500px;
     height:400px;
 }
.right-div{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border: 3px black double;
    border-radius: 20px;
    margin-left: 650px;
    margin-top: -400px;
    margin-right: 100px;
    padding: 20px;
    line-height: 1.5;
    box-shadow: 5px 5px 40px green;
    width: 480px;
    height:352px;
}
progress{
    width: 300px;
    height: 25px;
}
.bar1{
    accent-color: red;

}
.bar2{
    accent-color: rgb(132, 133, 124);
}
.bar3{
    accent-color: green;
}
.bar4{
    accent-color: rgb(255, 136, 0);
}
.bar5{
    accent-color: rgb(241, 255, 192);
}
.bar6{
    accent-color: rgb(140, 255, 0)
}
.bar7{
    accent-color: rgb(255, 0, 255);
}
.bar8{
    accent-color: rgb(183, 0, 255);
}
.bar9{
    accent-color: rgb(255, 191, 0);
}
.bar10{
    accent-color: rgb(23, 146, 202);
}